@use '../utils/scrollbar.scss';

html {
  // font-size: fs.$body-1-size;
  // font-family: fs.$body-1-font-family;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @extend .scrollbar;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

// Animación entre páginas
.pages-enter-active {
  animation: fade 0.15s ease-out;
}
.pages-leave-active {
  animation: fade 0.15s ease-out reverse;
}
