@use '../utils/scrollbar.scss';

html {
  // font-size: fs.$body-1-size;
  // font-family: fs.$body-1-font-family;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @extend .scrollbar;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

// Animación entre páginas
.pages-enter-active {
  animation: fade 0.15s ease-out;
}
.pages-leave-active {
  animation: fade 0.15s ease-out reverse;
}

// .toast {
//   background-color: var(--v-primary-lighten1) !important;
//   &--success {
//     background-color: var(--v-success-base) !important;
//   }
//   &--warning {
//     background-color: var(--v-warning-base) !important;
//   }
//   &--error {
//     background-color: var(--v-error-lighten1) !important;
//   }
// }

.Vue-Toastification {
  &__toast--success {
    background-color: var(--v-success-base) !important;
  }
  &__toast--warning {
    background-color: var(--v-warning-base) !important;
  }
  &__toast--error {
    background-color: var(--v-error-lighten1) !important;
  }
}
